<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head')  %> 
  <body>
    <%- include('./partial/nav')%>
    <div class="blogs content">
        <h2>All blogs</h2>

        <%if(blogs.length>0){ %>
            <% blogs.forEach(blog=>{%>
                <a class="blog" href="/blogs/<%= blog._id %>">
                  <h3 class="title"><%= blog.title %></h3>
                  <p class="snippet"><%= blog.snippet%> </p>
                </a>
                
            <% }) %> 
        <% } %>
    </div>
    <%- include('./partial/footer')%>

  </body>
</html>
